# export GNUPGHOME=$PWD/.gpg
PATH_add $PWD/scripts
source_env_if_exists .envrc.secrets
export KEY_ID=019ECB5CDC6D59B7
export KEY_NAME=yogendrarampuria
export GNUPG_HOME=$PWD/.gpg
export EXPIRATION_MONTHS=6
export GPG_TTY=$(tty)
export TIMESTAMP=$(date +%Y-%m-%d)
